services:
  traefik:
    image: "traefik:latest"
    container_name: traefik
    restart: always
    environment:
      CLOUDFLARE_EMAIL: "dan.voznyy@gmail.com"
      CLOUDFLARE_DNS_API_TOKEN: "{{ (bitwarden "item" "CLOUDFLARE_DNS_API_TOKEN").notes}}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./acme_data:/acme_data/"
      - "./traefik.yml:/traefik.yml"
      # - "./conf.d:/conf.d"
